body{
background-color: black;
background-image: url('https://c4.wallpaperflare.com/wallpaper/598/482/363/black-black-and-white-anonymous-hackers-wallpaper-preview.jpg');
background-size: cover;
background-position: center;
overflow: auto;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}

#div1{
    overflow:hidden;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(61, 255, 2);
    padding: auto;
    margin: 20px 5px;
    height: auto;
    width: 800px;
    border: 2px solid rgb(0, 253, 55);
    scroll-behavior: smooth;
    scrollbar-color: black;
}
b{

    margin: 50px 18px;
    padding: 30px 30px;
}
/*---Table-----*/
table {
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    width: 95%;
    padding: auto;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 5px;
}

th,
td {
    border: 2px solid #00ff15;
    border-radius: 10px;
    padding: 3px 3px;
    text-align: justify;
    color: #00ff15;
}

th {
    border-radius: 10px;
    background-color: #c20000;
    font-size: large;
    text-align: center;
}

tr:nth-child(even) {
    border-radius: 10px;
    background-color: #000000;
}